{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
    <div id="menu-table">
        <h2 class="mb-3">Leaderboard</h2>
        <div class="table-responsive" id="leaderboard-table" style="max-height: 60vh; overflow-y: auto;">
            <table class="table table-borderless text-center">
                <thead>
                    <tr id="table-head">
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Level</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ player.username }}</td>
                            <td>{{ player.level }}</td>
                            <td>{{ player.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}